@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:600');
@import url('https://fonts.googleapis.com/css?family=Hahmlet:200,600');
@import url('https://fonts.googleapis.com/css?family=Hahmlet:200,600&family=Josefin+Sans:600');

body {
  background-color: #444;
}

.container {
	width: 70%;
	margin: 0 ;
  background-color: #444;
  
}

header {
	font-family: 'Josefin Sans', sans-serif;
 	background: #FF66CC;
}

.about_header {
	color: #c4a1b8;
}

.about_text {
	color: #c4a1b8;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
  position: relative;
  
}

.logo_img {
  position: relative;
  float: left;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 40px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.gallery-container {
  align-items: center;
}

footer {
  bottom: 0;
  color: #FF66CC;
  position: fixed;
  width: 100%;

}
.footer {
  bottom: 0;
  left: 0;

}



.footer {
  background-color: #FF66CC;
}

ul {
  list-style: none;
  color: #000;
  font-size: 20px;
  align-items: center;

  
}

.github {
  height: 30px;
  width: auto;
  cursor: pointer;

}

li {
  display: inline;
  align-items: center;
  padding: 5px 5px;
}


.hero {
  color: white;
  padding: 10%;
  text-align: center;
  font-size: 70px;
}

.subtittle {
  color: white;
  text-align: center;
}

.heart_img {
  height: 200px;
  animation: spin 10s ease 3s infinite;
  position: fixed

};

@keyframes spin {
	0% {
		transform: translateY(0) rotate(0deg);
	}
	100% {
		transform: translateY(1500px) rotate(720deg);
	}
}